[2020-12-29 22:12] excid3 opened #3 "Asset Pipeline & Webpacker Support"
We need a couple tools like Flatpickr, slimselect, etc to make the admin more useful, plus CSS for styling the admin.

The goals here:

* Good, clean defaults that work with Webpacker & the Asset Pipeline
* Easily customizable to add your own JS & CSS
* Everything Turbo + Turbolinks compatible

### Javascript
It would be great if we could use something like Skypack CDN so that we didn't have to in

[2020-12-29 22:12] excid3 opened #4 "Generator for copying views"
We really like how Administrate does this and it's a nice way to go:

`rails g madmin:views` should copy over `app/views` from madmin so you can override the templates and add features.

Specific views
[code]

Specific views for a resource
[code]

[2020-12-30 05:46] afomera opened #6 "Madmin is broken on app that skipped javascript (aka web packer)"
I generated a rails app `rails new foobar --skip-javascript` and upon installing madmin it errors out when loading the dashboard because javascript_pack_tag is not defined.

[2020-12-30 14:56] excid3 commented on #6
Bug or feature? 🤔

I don't have any problems only supporting Webpacker for v1.

[2021-01-02 06:29] afomera opened #7 "Check if madmin urls and things work fine if the model in the app has to_param defined"
ie. we use a to_param method in models to do friendly urls, we should make sure madmin doesn't break on those.

[2021-01-02 18:03] excid3 commented on #7
Should be fine as Madmin doesn't do anything special here.

- [x] Validate works with custom `to_param`
- [x] Validate can easily add `friendly.find` to use friendly_id in the admin

[2021-01-15 18:25] excid3 opened #8 "Full CI suite"
Test against everything:

* Ruby 2.7, 3.0
* Rails 6.0, 6.1 (We can use Appraisal for this)
* Postgres, Sqlite, MySQL

See: https://github.com/excid3/noticed/blob/master/.github/workflows/ci.yml

[2021-01-15 18:34] BilalBudhani commented on #8
I can take this up. I have been meaning to look into this gem.

[2021-01-15 18:35] excid3 commented on #8
Finally open sourcing what we've got so far! Hopefully going to get this wrapped up and get the first version out the door very soon.

[2021-01-15 21:51] excid3 opened #9 "Scope Filters"
Registering scopes in a Resource can enable scope buttons for quick filtering on the index page.

### Example

[code]

This would add `All`, `Published` and `Draft` buttons to the top of the index.
Clicking on one would add `?scope=draft` to the URL.
The index action would add the scope with matching name.

[code]

[2021-01-16 00:05] #9 closed, assigned to excid3

[2021-01-16 01:12] excid3 commented on #8
I ended up doing this today to make sure everything was ready for contributions.

[2021-01-16 01:12] #8 closed, assigned to nobody

[2021-01-16 03:26] afomera opened #11 "Document Authentication"
👋

Something that would be good to document is how applications can implement a level of authentication for Madmin. Out of the box we produce an unauthenticated view, this is obviously not production ready.

Because authentication can be different from app to app, we'd prefer to not roll our own and to instead allow Developers to use their existing models instead.

What we'd like to see is:

- Exa

[2021-01-16 03:31] excid3 commented on #11
I'd also like to see documentation on how to add masquerade button to users show view. It's a common use case and it'd be great to have documented.

[2021-01-16 22:33] ronzalo opened #12 "key not found: :decimal"
Exception on a new Rails app, models with decimal fields
[code]

[2021-01-17 14:23] ankurp opened #13 "Admin generation script fails due to has and belong to many association"
Full stack trace below

[code]

[2021-01-17 15:54] excid3 commented on #13
Can you share the model so we can attempt to reproduce it?

[2021-01-17 16:00] ankurp commented on #13
@excid3 I have a repo where I noticed this issue. Code is on GitHub and this is the model https://github.com/ankurp/OnDemandVideoVisit/blob/master/app/models/video_call.rb#L18
I used the jumpstart rails template to create the user model and scaffold the project.

[2021-01-17 16:05] excid3 commented on #13
Fantastic, thanks! I will get working on that shortly. I imagine we just missed the `has_and_belongs_to_many`, which we can probably treat about the same as a `has_many`

[2021-01-17 17:09] excid3 commented on #12
@ronzalo I just pushed up a decimal field to master. 👍

[2021-01-17 18:15] afomera opened #14 "key not found :jsonb"
From the GoRails slack:

![image](https://user-images.githubusercontent.com/1741179/104851962-467f3a00-58b5-11eb-8657-6e24d6d595a4.png)

[2021-01-17 18:21] excid3 commented on #14
I added a commit to treat jsonb and hstore as JSON columns.

[2021-01-17 18:22] #12 closed, assigned to nobody

[2021-01-17 18:39] #14 closed, assigned to excid3

[2021-01-17 18:42] excid3 commented on #11
Route authentication with Devise and separate AdminUser:

[code]

[code]

[2021-01-17 18:43] excid3 commented on #11
Route authentication with User and `admin` flag:

[code]

[code]

[2021-01-17 19:15] excid3 commented on #3
Skypack is super easy to use:

[code]

It'd be great if we could use something like this without needing any tweaks to the asset pipeline or webpacker out of the box.

[2021-01-17 21:48] excid3 commented on #3
Played with this today. We can easily add SlimSelect and Flatpickr this way.

[code]

This doesn't solve the problem of needing ActiveStorage, ActionText, and other JS from Rails. It does reduce dependencies on gems like slimselect-rails for the asset pipeline & directly installing the packages with webpacker. I think that's a win.

We may just need to add madmin.js that will include Turbo(links)

[2021-01-26 02:25] chenjau opened #15 "key not found: :Inet"
ruby: 3.0.0
rails: 6.1.1
madmin: v0.1.1

definition:
t.citext :username, null: false, default: ''
t.inet    :current_sign_in_ip

errors:
key not found: :inet
key not found: :citext
... and may be other postgresql types too(not tested)

[2021-01-26 02:44] chenjau opened #16 "about schema_migrations_* / data_schema_migrations_*"
ruby: 3.0.0
rails: 6.1.1
madmin: v0.1.1

after `rails g madmin:install`, madmin generator created following files:

controllers
├── madmin
 │   ├── active_record
 │    │   └── schema_migrations_controller.rb
 │   ├── data_migrate
 │    │   └── data_schema_migrations_controller.rb
 │   └── users_controller.rb

madmin
└── resources
    ├── active_record
     │   └── schema_migration_resource.rb

[2021-01-26 02:47] excid3 commented on #15
Yep, we haven't done much of any database specific types yet.

We'll get to these soon. They can probably be treated and strings for the purposes of madmin.

[2021-01-26 15:28] afomera commented on #16
Hi @chenjau can you tell us if you have a model for those in your app? 🤔

[2021-01-26 17:50] chenjau commented on #16
Hi! just an user model:
models
├── application_record.rb
├── concerns
└── user.rb

after comment out gem '[data_migrate](https://github.com/ilyakatz/data-migrate)' , and tried `rails g madmin:install` again, madmin generated following files as expected:
$ rails g madmin:install
route  root to: "dashboard#show"
create  app/madmin/resources/user_resource.rb
create  app/controllers/madmin/users_contr

[2021-01-26 17:54] excid3 commented on #16
Madmin will generate resources for any models from your app and any gems you include. Sounds like the `data_migrate` gem provides models, so that's where it was coming from.

Working as expected to me. 👍

[2021-01-27 01:24] #16 closed, assigned to nobody

[2021-01-31 20:13] excid3 commented on #15
Full list of supported datatypes for PG:

https://github.com/rails/rails/blob/main/activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb#L101

[2021-01-31 20:18] excid3 commented on #3
Added Rails, ActiveStorage, and ActionText using Skypack matching the Ruby gem version number. This should make this work nicely.

[2021-01-31 20:21] #3 closed, assigned to excid3

[2021-02-01 02:15] #15 closed, assigned to nobody

[2021-02-01 14:00] excid3 opened #17 "Support all database column types"
https://github.com/rails/rails/blob/main/activerecord/lib/active_record/connection_adapters/postgresql_adapter.rb#L101

Also MySQL & SQLite

[2021-02-04 00:39] excid3 opened #18 "Native FriendlyID Support"
I don't like friendly_id overriding the `find` method, so it would be awesome if Madmin could detect the `FriendlyId` module on the model and automatically use `Resource.friendly.find` instead of the normal `Resource.find`

This is purely a "nice to have", not something we should really prioritize.

[2021-02-04 23:10] excid3 opened #19 "Show * for required fields"
You can access the validators on a model by doing:

[code]

We can use this to render an asterisk or note for required fields.

[code]

Todos:
- [x] `required?` method on Field
- [x] Add `* Required` label when rendering fields

[2021-02-04 23:35] excid3 commented on #19
Started on this by adding a `required?` method to `Madmin::Field`

[2021-02-05 00:20] #17 closed, assigned to excid3

[2021-02-05 00:27] excid3 commented on #6
This should be fixed now that we're using Skypack for our Javascript. Gonna close it but we can reopen if needed.

[2021-02-05 00:27] #6 closed, assigned to nobody

[2021-02-05 00:28] excid3 commented on #11
Started this in: https://github.com/excid3/madmin/blob/master/docs/authentication.md

[2021-02-05 02:22] excid3 opened #20 "Allow registering new fields & column types"
Right now we have a hardcoded hash of column types and fields. Users will probably want to customize this, so we should make this something they can modify.

[2021-02-05 03:28] excid3 commented on #13
Found that the HABTM models are generated dynamically and assigned name here:
https://github.com/rails/rails/blob/291a3d2ef29a3842d1156ada7526f4ee60dd2b59/activerecord/lib/active_record/associations/builder/has_and_belongs_to_many.rb#L54

Going to use that to skip these models during the installer.

[2021-02-05 03:30] #13 closed, assigned to nobody

[2021-02-05 22:47] thewatts opened #22 "Webpacker::Manifest::MissingEntryError in Madmin::Dashboard#show"
Brand new Rails app w/ a few models generated

`rails new {name} -T --database=postgresql`

Ran through the docs for installation

`rails s` in one tab, `./bin/webpack-dev-server` in another.

Unfortunately, I'm one of those old geezer Rails devs who's behind the times on Webpacker things.

Apologies if I'm missing something simple 😅

![image](https://user-images.githubusercontent.com/1141717/1070

[2021-02-05 22:50] excid3 commented on #22
@thewatts Make sure you're using the beta, not 0.1.1. `bundle add` won't install any pre-releases by default, hence why you're seeing this. 👍

[2021-02-05 22:50] #22 closed, assigned to nobody

[2021-02-05 22:51] excid3 commented on #22
In fact, maybe I should just release a 1.0 and call it a day.

[2021-02-05 23:00] excid3 commented on #22
Done! 🚀

[2021-02-05 23:03] thewatts commented on #22
@excid3 - many thanks!

Unrelated issue - but on the same track. Updated my Gemfile to use 1.0

Let me know if you want me to open a new issue.

![image](https://user-images.githubusercontent.com/1141717/107098017-dee14e00-67d3-11eb-96b6-3b299f756cb8.png)

[2021-02-05 23:07] excid3 commented on #22
You may need to delete the existing madmin files from the previous install and then reinstall. If that fixes it, no need for an issue since the controller templates have changed since the real early version you had before.

If that doesn't fix it, happy to take a look and get that fixed. I will probably need an example app to replicate it with though.

[2021-02-05 23:13] thewatts commented on #22
@excid3 💪💪💪

That was the ticket.

Many thanks!

[2021-02-05 23:25] excid3 commented on #22
Yay! I was hoping I wouldn't have to fix bugs. 😜

[2021-02-06 13:53] mvondoyannick opened #24 "Issue with rails g madmin:install"
Have this issue when i run rails g madmin:install command on a fresh rails installation (with MySql DB).

[code]
Solution:

To resolv this issue, you have to read this link about Zeitwerk
https://stackoverflow.com/questions/57277351/rails-6-zeitwerknameerror-doesnt-load-class-from-module

[2021-02-06 16:46] rickavmaniac opened #25 "Webpacker::Manifest::MissingEntryError in Madmin::Dashboard#show"
Hi,

I install madmin and run rails g madmin:install with succes

But when I try to open /madmin (dashboard) I got this error :

"Webpacker::Manifest::MissingEntryError in Madmin::Dashboard#show"

Any idea?

[2021-02-06 18:16] excid3 commented on #25
Make sure you're using the latest version. Sounds like you're on 0.1

[2021-02-06 21:30] rickavmaniac commented on #25
Good catch.

The install now is working. Just wondering if this is the interface expected?
![image](https://user-images.githubusercontent.com/65045079/107130111-8e7ff400-6898-11eb-98b3-e01d25dd8080.png)

[2021-02-06 23:25] fiveNinePlusR commented on #24
That's odd. worked fine for me on a brand new rails 6.1.1 install. perhaps prepend DISABLE_SPRING=1 to the command and try it again?

Alternatively, does running it with `bundle exec` work? I know rvm does some funky stuff so it also can get in the way.

[2021-02-06 23:59] afomera commented on #25
Yeah we've not really focused on design improvements yet, so this is to be expected.

[2021-02-07 17:40] #25 closed, assigned to nobody

[2021-02-07 17:42] excid3 commented on #24
You'll have to share the contents of `app/madmin/resources/action_text/rich_text_resource.rb` when that error occurs.

It's been working fine for me and several other people with ActionText, so not sure.

[2021-02-08 19:49] coder2000 opened #26 "paper_trail version resource is built incorrectly"
When running madmin with no changes the following resource is created for a paper_trail version resource:

[code]

and gives the following errors when run:

[code]

[2021-02-08 19:55] excid3 commented on #26
Thanks @coder2000! We'll take a look. 👍

From what it looks like, it's the polymorphic :item association causing the trouble: https://github.com/paper-trail-gem/paper_trail/blob/master/lib/generators/paper_trail/install/templates/create_versions.rb.erb#L14

[2021-02-08 20:06] coder2000 commented on #26
Ok, Is it just generated wrong and I can fix it simply?

[2021-02-08 20:09] excid3 commented on #26
You can just delete that line 4 to fix it for now.

[2021-02-09 19:35] esmale commented on #4
I think this issue can be closed now, due to the recent PRs that have already been merged in.  (Sorry for not linking the PRs to this specific issue, never needed to do that before.)

-

[2021-02-09 19:40] excid3 commented on #4
Linking PRs is just hashtag and the number: #21

[2021-02-09 19:40] #4 closed, assigned to nobody

[2021-02-09 23:11] etagwerker commented on #11
What would this look like if one wanted to use [basic http authentication](https://api.rubyonrails.org/classes/ActionController/HttpAuthentication/Basic.html)? 😄

I guess I would have to redefine this method: https://github.com/excid3/madmin/blob/f3aa501a086d629541acc941bc59274d0997eae0/test/dummy/app/controllers/madmin/application_controller.rb#L5-L10

[2021-02-09 23:17] excid3 commented on #11
I haven't tested it yet, but I left an example for http basic auth on line 20:

https://github.com/excid3/madmin/blob/f3aa501a086d629541acc941bc59274d0997eae0/test/dummy/app/controllers/madmin/application_controller.rb#L20

[2021-02-12 21:58] drnic opened #29 "Browser errors after install (into JSP app)"
I installed madmin into a fresh JSP app (not sure if relevant or not) and in my browser I get the following errors:

<img width="1171" alt="Screen Shot 2021-02-13 at 7 52 51 am" src="https://user-images.githubusercontent.com/108/107826522-c0c9ae00-6dd0-11eb-9492-b40d551af214.png">

[2021-02-22 01:49] fiveNinePlusR commented on #19
Would you want this to be added to each of the resource `_form` views or to the main application `_form` view?

[2021-02-23 04:15] excid3 commented on #19
@fiveNinePlusR I _think_ it probably needs to be in the resource `_form` views because they may differ depending on the field type. And we can probably add `required: true` to the fields as well.

[2021-03-01 13:14] elvinaspredkelis opened #33 "Graceful error display on non-existent belongs_to association."
When adding a reference to a model, I personally make an initial migration allowing null values for the model_id, fill the ids and only then force the `null: false` on the id column.

However, this causes a NoMethodError on the display_name of a column. It is absolutely reasonable, but it makes the resource completely unavailable in that intermediate stage.

[code]

Perhaps it would make sense to

[2021-03-01 22:55] #33 closed, assigned to nobody

[2021-03-01 22:56] excid3 commented on #33
@elvinaspredkelis Try out master and see if that fixes it for ya. We had the correct check in the other field types, but not belongs_to!

If that fixes it, I'll cut a new release.

[2021-03-04 12:01] elvinaspredkelis commented on #33
@excid3

Awesome, looks like the master branch fixed it. Thanks!

[2021-03-04 14:00] excid3 commented on #33
Alrighty, released as 1.0.1 🔥

[2021-03-04 14:38] #29 closed, assigned to nobody

[2021-03-04 14:41] excid3 commented on #29
This should be fixed now. Skypack no longer has the CSS for slimselect for whatever reason... super strange. I just switched to using unpkg for CSS for now.

And it now checks if Rails UJS is already started before starting it. 👍

[2021-03-07 20:23] rubendinho opened #36 "Installing gem in an engine"
Is it possible to install madmin in an engine (similar to [this Godmin approach](https://github.com/varvet/godmin#engine-installation))?

[2021-03-08 14:33] excid3 commented on #36
You probably can. You'd just need to add the controllers and routes from Madmin to your engine.

[2021-03-16 21:33] excid3 opened #38 "Nested Fields"
It would be great to support nested fields.

It appears Administrate has a plugin for this as well: https://github.com/nickcharlton/administrate-field-nested_has_many

[2021-03-18 18:13] excid3 commented on #18
Fixed by #39. Thanks @dhurba87 🙏

[2021-03-18 18:13] #18 closed, assigned to nobody

[2021-03-18 18:14] excid3 commented on #7
This is done via #39 😍

[2021-03-18 18:14] #7 closed, assigned to nobody

[2021-03-19 10:56] andersklenke opened #40 "Allow for custom path name"
First of all thanks for this great gem!

Right now the admin interface lives at `/madmin`, and that is not customisable. I would like it at `/admin` instead. This is doable by doing:
[code]

This introduces a problem with the navigation. The [resource paths](https://github.com/excid3/madmin/blob/master/lib/madmin/resource.rb#L44) are hard coded to `/madmin`.

I can prepare a PR to generate the pat

[2021-03-19 14:10] excid3 commented on #40
Yep, go for it.

[2021-03-19 16:16] dhurba87 commented on #38
@excid3 I think I can work on it. can I take this one?

[2021-03-19 16:24] excid3 commented on #38
Please do!

[2021-03-22 12:47] #40 closed, assigned to nobody

[2021-04-13 20:33] mhenrixon opened #45 "Support for Postgres Array type"
I love postgres array type. I tend to reach for it for any tagging system that isn't too complex. Most of all, I find it super fun to write code like this:

[code]

I just sloppy pasted this from the internet; it does get it done, even if it isn't pretty.

The idea is to tag, for example, blog posts.

When playing around with the possibilities of doing this in Administrate, I discovered a few limi

[2021-04-18 08:53] timmyd87 opened #46 "Zeitwerk::NameError in Madmin::DashboardController#show"
Hi team,

I ran the install command on a semi changed jump start pro app. It builds out all the resources and seems to get the routes right however i get the error 'Zeitwerk::NameError in Madmin::DashboardController#show' saying it expected 'to define constant Resources::AccountInvitationResource, but didn't' - account invitation is the example here. Adding 'Resources::' to the class name just thr

[2021-04-19 15:49] dhurba87 opened #47 "Named route doesn't seem to be working for non-model admin pages"
I ran into following issue when pulling the latest master. Seems like latest [commit](https://github.com/excid3/madmin/commit/6a6c08bccfdbff2a5e0f288c47173bf06bfc570f) is causing this issue.

![image](https://user-images.githubusercontent.com/7259726/115265150-ac01f180-a156-11eb-9e38-0fff07538f9e.png)

[2021-04-19 16:14] excid3 commented on #47
Thanks for reporting this @dhurba87 👍

We may need to do the `table_name` instead like the Rails generators use:

[code]

Rails does this here:
https://github.com/rails/rails/blob/6ebd134a9afb1870f62ff74b96c7d92a94feca6d/railties/lib/rails/generators/named_base.rb#L117-L119

[2021-04-19 16:32] dhurba87 commented on #47
Awesome! Let me create a PR for this

[2021-04-20 01:09] #47 closed, assigned to nobody

[2021-04-20 01:16] #38 closed, assigned to nobody

[2021-04-20 13:30] Bramjetten opened #51 "Support virtual attributes for has_secure_password"
My `User` model uses `has_secure_password`. This means it has a virtual attribute `password` and it should be editable in madmin.

Currently, madmin doesn't understand this:
`Couldn't find attribute or association 'password' with type '' on User model`

[2021-04-20 15:38] excid3 commented on #51
Just pushed up d4f7393 with `has_secure_password` support. That should do the trick.

[2021-04-20 16:43] Bramjetten opened #52 "Broken Stimulus controller in Safari"
The Stimulus controller in `_javascript.html.erb` includes the new public class fields for `targets` which Safari doesn't support yet.

[2021-04-20 16:47] excid3 commented on #46
I haven't tested this on Jumpstart Pro yet, but I will soon and will get this fixed. 👍

[2021-04-20 16:47] #52 closed, assigned to nobody

[2021-04-20 16:48] Bramjetten commented on #51
Thanks for your quick response! Works like a charm.

After updating I noticed a bug in Safari. I've created a separate PR #53

[2021-04-20 16:48] #51 closed, assigned to excid3

[2021-04-20 17:03] #36 closed, assigned to nobody

[2021-04-20 17:03] #24 closed, assigned to nobody

[2021-04-20 18:09] excid3 commented on #20
@spacerobotTR can you post that in Discussions instead?

[2021-04-20 18:37] spacerobotTR commented on #20
Thanks. Sorry I ended up figuring it out. I am really liking this so far!

On Tue, Apr 20, 2021 at 2:10 PM Chris Oliver ***@***.***>
wrote:

[2021-04-21 15:22] spacerobotTR commented on #46
I have a similar error on jumpstart github. When I first start foreman and go to the page I get this error:

expected file /Users/xxx/Documents/Sites/madmintest/app/madmin/resources/action_text/rich_text_resource.rb to define constant ActionText::RichTextResource, but didn't

If i hit refresh it loads fine and doesn't come up again. Any ideas on what this is?

[2021-04-22 06:47] vfonic opened #58 "Bug: `rails generate madmin:views` does not generate navigation and layout views"
Steps to repro:

1. `bundle add madmin`
2. `rails g madmin:install`
3. `rails generate madmin:views`

Expected:

Generator creates:

[code]

Actual:

[code]

Running:
`rails g madmin:views:navigation` and `rails g madmin:views:layout` explicitly, generates navigation and layout views respectively.

[2021-04-22 15:32] #20 closed, assigned to nobody

[2021-04-22 16:08] #58 closed, assigned to nobody

[2021-04-22 16:17] excid3 commented on #58
Fixed!

I updated the `madmin:views` generator to include everything now. It was missing a couple of the other generators.

Also added a `madmin:views:javascript` generator if you only want to modify that.

[2021-04-22 16:19] excid3 commented on #46
@spacerobotTR can you paste me the contents of the `rich_text_resource.rb` file?

I just verified it generated it fine for the test dummy app in the madmin repo, so not sure why yours would be different.

[2021-04-22 16:38] spacerobotTR commented on #46
It is actually empty with nothing in it.

On Thu, Apr 22, 2021 at 12:20 PM Chris Oliver ***@***.***>
wrote:

[2021-04-22 18:03] excid3 commented on #46
@timmyd87 I don't know why, but I started getting that error too. If I refresh the page, it resolves itself immediately without any changes. Strange.

And yet, I can enable the logger and it loads just fine after a reboot.

[code]

Possibly related to the eager_load paths that we're adding to the Rails app to make `app/madmin/resources` work.

[2021-04-22 18:14] excid3 commented on #45
We can use `Post.columns_hash["tags"]&.array?` to check if it's an array column type. Then we can add an array type that will just render out a text field like strings do.

[2021-04-23 07:28] timmyd87 commented on #46
Thanks @excid3 for taking a look. I can confirm if i refresh the screen it will load without any changes. If you have multiple resources you have to refresh until it's moved through each resource before it shows without error.

[2021-04-23 08:54] vfonic commented on #58
Thanks, Chris! You're a legend! :) 🚀 🔥

[2021-04-23 13:42] excid3 commented on #46
Interesting, I did not have that issue. For me, it was only the PostResource but everything else loaded fine.

And then coming back after a few hours, it's not doing it again. I wonder if there is something being cached with bootsnap or something? Maybe try clearing the tmp directory?

If anyone can find a reliable way to reproduce this, let me know.

[2021-04-23 13:50] spacerobotTR commented on #46
You have to bare with me as I am not a rails pro or anything. I did a clean
install on another new project. I don't seem to be getting that error now.
I also noticed I do not have the resources/action text/rich_text_resource
on this install. Not sure why, but saw this in the console. Not sure what
it means.

Skipping ActionMailbox::InboundEmail because database table does not exist

Skipping Actio

[2021-04-23 16:20] excid3 commented on #46
It skips them because you don't have ActionMailbox or ActionText installed.

[2021-04-23 16:23] spacerobotTR commented on #46
That is not part of the jumpstart install template?

On Fri, Apr 23, 2021 at 12:20 PM Chris Oliver ***@***.***>
wrote:

[2021-05-17 20:35] excid3 commented on #46
I just rewrote this to read through the files instead of using eager_load. Should be more reliable and doesn't require loading your entire application. 👍

[2021-05-17 20:35] #46 closed, assigned to excid3

[2021-05-19 19:31] excid3 opened #66 "Use `draw :madmin` for routes"
Rails 6.1 includes `draw` for separating routes. It would be nice to use this for storing all the admin routes in a separate file.

For backwards compatibility, we could check the Rails version and fallback to inserting into the main routes file. Although I don't see much need to support Rails 6.0 or earlier.

[2021-05-19 19:32] excid3 opened #67 "Improved SlimSelect integration"
* Need to fix prompt
* Add AJAX endpoints to query models so we don't have to load every record for the form field.

[2021-05-21 15:53] uurcank opened #68 "ERROR: relation "action_mailbox_inbound_emails" does not exist"
`: ERROR:  relation "action_mailbox_inbound_emails" does not exist (PG::UndefinedTable)
LINE 8:  WHERE a.attrelid = '"action_mailbox_inbound_emails`

Does the gem assume action_mailbox installed by default? This gets fixed after I run

` rails action_mailbox:install `

[2021-05-21 18:05] excid3 commented on #68
No, it just finds every model it can.

[2021-05-21 18:21] uurcank commented on #68
I do not have action mailbox installed in the app but I get the error message. It disappears after I install action mailbox.

[2021-05-21 18:22] excid3 commented on #68
Yep, we'll get it fixed.

[2021-05-21 21:01] excid3 commented on #68
Actually, the `madmin:install` already checks to make sure it has a table when it's generating resources.

[code]

Did you already have a Madmin resource for the InboundEmails model for some reason?

[2021-05-24 14:16] uurcank commented on #68
@excid3 I tested this on Jumpstart Pro template. Action mailbox was not installed.

If it is not happening on your end it may be an error in my code. I will try again this week.

[2021-05-26 07:35] andersklenke commented on #68
@uurcank I just had the same error.

Edit: I was on an old version of Madmin. That could be why.

[2021-06-02 09:17] archiesmuts opened #71 "Application crashes on Heroku"
Hi Chris,
App deploys successfully to heroku but crashes

$ heroku logs --tail reveals the following #deleted timestamps for clarity
heroku[worker.1]: Starting process with command `sidekiq`
heroku[worker.1]: State changed from starting to up
app[worker.1]: pid=4 tid=38s WARN: ArgumentError: Couldn't find attribute or association 'id' with type '' on Service model
app[worker.1]:
app[worker.1]: To

[2021-06-02 13:43] excid3 commented on #71
Have you run your migrations?

[2021-06-02 18:20] archiesmuts commented on #71
Yes all migrations done.  The app runs fine in development except for the ActiveStorage / VariantRecords section in the Admin area.  Here I get a PG::Undefined Column Error: column “created_at” does not exist.
My main concern however is to get the app running on Heroku. At this point it’s just the basic structure created by the jumpstart gem. I haven’t added anything else yet.

Thank you,

Best re

[2021-06-02 18:23] excid3 commented on #71
Remove the created at field from the resource to get it working.

I tested it last night and it doesn't generate a created at for me.

On Wed, Jun 2, 2021 at 1:20 PM archiesmuts ***@***.***> wrote:

--
Chris Oliver
http://excid3.com | @excid3 <http://twitter.com/excid3> |
http://github.com/excid3

[2021-06-03 23:34] archonic opened #72 "Feature request: Search"
I'd love to switch from Adminstrate but I can't do that until Madmin has search 🙏

[2021-06-04 13:59] excid3 commented on #72
Indeed. We can't use something database-specific like pg_search, and I don't particularly like Ransack.

Maybe we take a similar approach to what Administrate does:
https://github.com/thoughtbot/administrate/blob/main/lib/administrate/search.rb

[2021-06-05 02:55] friendlyantz opened #73 "README enhancement"
Hey guys, first contribution / issue here.
While being a newbie, I had some trouble setting up the app / `foreman` initially due to lack of knowledge Re redis / sidekiq

I would love to add the below notes to the bottom of ReadMe to help noobs like me carry on with your template which I absolutely love as well as GoRails content, that helps me immensely!
___________
#### Enabling Admin Panel
App u

[2021-06-05 02:56] #73 closed, assigned to nobody

[2021-06-05 02:56] friendlyantz commented on #73
wrong thread, lol. this is for jumpstart repo

[2021-06-08 10:46] dp6ai commented on #20
@excid3 and @spacerobotTR is this documented anywhere? I'd be interested in adding a condensed (less padding etc) version of nested_has_many for specific resources.

Thanks

[2021-06-08 22:18] fiveNinePlusR commented on #20
@dp6ai looks like the list is here: https://github.com/excid3/madmin/blob/master/lib/madmin/resource.rb#L90

would need an interface to configure that in some way. probably loading from a configuration file and the associated baggage that entails.

[2021-06-09 02:30] excid3 commented on #20
I think we will probably add a `field: CustomField` option for the attribute in the Resource class for supporting custom fields.

[2021-06-09 03:35] excid3 commented on #20
Just added!

[2021-06-09 18:50] archonic commented on #72
I actually like the way Administrate did their search. I'd be happy with that in Madmin.

[2021-06-14 18:21] #66 closed, assigned to nobody

[2021-06-14 19:40] #26 closed, assigned to nobody

[2021-06-14 19:41] #71 closed, assigned to nobody

[2021-06-14 19:41] #68 closed, assigned to nobody

[2021-06-14 22:01] #72 closed, assigned to nobody

[2021-06-15 22:33] excid3 commented on #67
Switched to [TomSelect](https://github.com/orchidjs/tom-select/)

[2021-06-15 22:33] #67 closed, assigned to nobody

[2021-07-08 10:23] itsameandrea opened #78 "Use custom FormBuilder"
Hi Chris and team!

In my project I'm using a custom FormBuilder that automatically adds certain Stimulus `data-` properties around `rich_text_areas` tags in order to support media attachment:

[code]

Is there any easy way to reuse this form builder? Of course, I could just generate all the views and switch it myself but I didn't want to go that far (at least not yet).

[2021-07-08 13:56] excid3 commented on #78
You should just need to override the form partial to add your builder. https://github.com/excid3/madmin/blob/master/app/views/madmin/application/_form.html.erb#L1

[2021-07-14 03:49] magico opened #79 "Feature request: Add support for batch editing"
There are times where I need to edit dozens or even hundreds of items at the same time. For example, updating a specific column to `true` for many instances at a time. It would be amazing if madmin supported this.

[2021-07-14 14:23] excid3 commented on #79
Definitely would like to do batch actions.

We can add checkboxes to the rows and a dropdown above of actions. Submitting one of those would send over the IDs or an `all` value of some sort to the matching action.

[2021-07-15 07:15] dwatek opened #80 "User resource management questions and `madmin:field` problem"
Hi!

My issues are more questions about CRUD for users. I have users from devise that have password and password_confirmation. Unfortunately these are the fields that do not show up in the form for adding a new user. I understand that the only solution is to override the `form` view for `users`, and `update` action in users_controller?

Second question is about `Resources`. In a specific resource

[2021-07-20 08:22] itsameandrea commented on #78
Thanks!

[2021-07-20 08:22] #78 closed, assigned to nobody

[2021-07-28 15:02] excid3 commented on #80
`password` and `password_confirmation` are virtual attributes. You'll just add them to the `UserResource` that's generated.

[code]

I don't think the field options are documented anywhere yet. Need to do that still. You can look at the `test/dummy` app to see examples.

The field generator may not be released yet and only in `master`.

[2021-08-02 13:07] #19 closed, assigned to excid3

[2021-08-10 17:21] excid3 commented on #80
I made a new release yesterday with the field generator and some other improvements. 👍

[2021-08-10 17:21] #80 closed, assigned to nobody

[2021-08-14 21:13] petebytes opened #88 "Running madmin:install error relation "blazer_uploads" does not exist"
/usr/local/bundle/gems/activerecord-6.1.4/lib/active_record/connection_adapters/postgresql/database_statements.rb:19:in `exec': PG::UndefinedTable: ERROR:  relation "blazer_uploads" does not exist (ActiveRecord::StatementInvalid)
LINE 8:  WHERE a.attrelid = '"blazer_uploads"'::regclass

[2021-08-14 21:48] petebytes commented on #88
I was able to install successfully by commenting out blazer.

However when I tried to start the application it failed with:
/app/app/madmin/resources/announcement.rb:2:in `<module:Madmin>': Resources is not a class (TypeError)
rails_1 | /usr/local/bundle/gems/madmin-0.1.0/lib/madmin/resources.rb:2: previous definition of Resources was here

[2021-08-16 15:48] excid3 commented on #88
Was Blazer not fully installed? Madmin looks for all models in your app and will try to create a resource for each one.

Blazer does have an Upload model: https://github.com/ankane/blazer/blob/master/app/models/blazer/upload.rb

It seems that table does not exist in your database?

Also, please paste the full logs from the blazer_uploads error so I can see where it was triggered.

[2021-08-22 21:31] arschrier opened #92 "Updating Zeitwerk to `2.5.0.beta2` breaks loading of resources"
After updating Zeitwerk to `2.5.0.beta2`, Rails expects Madmin resources to be namespaced.

For example, `madmin/resources/customer_resource` is expected to define `Resources::CustomerResource`.

The actual error on build:
[code]

[2021-08-22 22:05] arschrier commented on #92
Telling Rails to collapse the resources directory fixed the issue. I did so by adding the following to `config/application.rb`:

[code]

[2021-08-23 14:13] excid3 commented on #92
Is this something that changed specifically in Zeitwerk 2.5?

[2021-08-23 15:41] arschrier commented on #92
Spoke too soon! Thought this was related to Zeitwerk itself, but it appears this has to do with the way Rails now auto loads paths.

This is the breaking commit from Rails: https://github.com/rails/rails/commit/2306a8e645627a7913e161b76eeeb7ee6e6724a9.

I am not an expert here, but is Rails eager loading the directory before engines are initialized?

[2021-08-23 17:36] excid3 commented on #92
Could be that the Madmin initializer isn't running early enough now. We do a similar thing to make sure the autoload paths are added before they get frozen.

https://github.com/excid3/madmin/blob/master/lib/madmin/engine.rb#L3

[2021-08-29 04:30] excid3 opened #95 "Support store_accessor fields"
We can find the store accessors easily with:

[code]

The values are the attributes we generate for Madmin resources.

The keys could probably be added to the list of ignored attributes.

[2021-08-29 04:31] excid3 opened #96 "Support ActiveRecord encryption"
The encrypted attributes use a `_digest` column to store the encrypted values. We can ignore these columns, but add attributes to the Madmin resource for the attribute.

[2021-09-09 04:00] johlym commented on #80
Hey @excid3 I'm not seeing the new release neither here nor on RubyGems. 🤔

[2021-09-09 13:58] excid3 commented on #80
Whoops. 😅

Released 1.2.1 now

[2021-09-16 15:52] jacobdaddario opened #99 "field_for_type Argument Error Doesn’t Read as Expected"
I’m opening this issue in relation to some of the trouble I ran into with #98. After more investigation I believe the error that can be raised in `field_for_type` isn’t functioning quite as expected. Particularly the names being inserted into the error string don’t make sense. I believe it’s catching an error not expected by the original implementation.

I’ll continue to investigate and document m

[2021-09-17 01:26] mattpolito commented on #92
Can confirm... resource loading does not appear to work in Rails 7 alpha

[2021-09-17 12:54] excid3 commented on #92
PRs welcome if you figure out what's going on. 👍

[2021-09-17 13:19] mattpolito commented on #92
@excid3 of course... trying to figure it out myself :-)

[2021-09-23 05:12] excid3 commented on #99
<img width="1137" alt="Screen Shot 2021-09-23 at 12 11 54 AM" src="https://user-images.githubusercontent.com/67093/134457457-15e64b80-a093-4106-a86f-39b51647b0f4.png">

This should be much more clear (and we can continue improving it) as needed.

[2021-09-23 06:25] #92 closed, assigned to excid3

[2021-09-23 06:25] #99 closed, assigned to nobody

[2021-09-23 06:25] excid3 commented on #92
This took some serious time to figure out but I got it working. 🔥

[2021-09-23 06:26] excid3 commented on #95
This is done thanks to @jacobdaddario

![yay](https://media.giphy.com/media/IwAZ6dvvvaTtdI8SD5/giphy.gif?cid=ecf05e47f11647uo8andvlc4c755qdk4lnu416y4kihdq6ln&rid=giphy.gif&ct=g)

[2021-09-23 06:26] #88 closed, assigned to nobody

[2021-09-23 06:32] #95 closed, assigned to nobody

[2021-09-23 12:22] mattpolito commented on #92
@excid3 did you come across something that shows path loading needs to happen 'before configuration' or was that just the hook placement that ended up working?

[2021-09-23 14:33] excid3 commented on #92
I had to dig through the Rails source code to figure it out. Couldn't find any examples or anything. The previous stuff was what I had found in a blog post, but this works consistently across all Rails versions using `before_configuration`. I didn't even know that was a callback you could use until I started reading the Rails source. 😅

[2021-09-24 05:45] jacobdaddario opened #101 "Dummy App New User Form Error"
I'm receiving this error when trying to see the form for creating a new User.
<img width="1137" alt="Screen Shot 2021-09-24 at 12 43 16 AM" src="https://user-images.githubusercontent.com/20427632/134624237-efaaa0f4-aa59-438e-ae5f-597eaa2b8946.png">
I'll dig into it when I have a moment, for now I'm just dropping this issue on the repo to document what was happening. Something being skipped is comi

[2021-09-24 09:29] moveson opened #102 "Relation fields in forms are not working"
For models that have relations, the forms provide fields that purport to reference a `select` Stimulus controller: https://github.com/excid3/madmin/blob/master/app/views/madmin/fields/has_many/_form.html.erb#L4

These fields are not working for me. I believe they are supposed to be referencing a controller built into `views/madmin/application/_javascript.html.erb`.

In my browser console, I'm seei

[2021-09-24 09:54] moveson commented on #102
The problem may be in skypack. I'm seeing an error message when I try to access https://cdn.skypack.dev/stimulus
[code]

[2021-09-24 12:00] excid3 commented on #102
Stimulus 3.0 just came out and it's now a shim for `@hotwired/stimulus` so we probably need to swap to that package instead.

[2021-09-24 17:08] #102 closed, assigned to nobody

[2021-09-24 17:40] excid3 commented on #101
Fixed this. The attributes list changed from an array to hash for faster lookup. I don't think the nested forms ever got updated for that.

Also introduced some integration tests so we can make sure this continues to work. 👍

[2021-09-24 17:41] #101 closed, assigned to nobody

[2021-09-25 16:59] jacobdaddario commented on #101
Sweet! I'm bummed you beat me to this.

[2021-09-25 18:46] jacobdaddario commented on #96
Hey! It looks like Madmin already handles columns with `_digest` in the name. That should be rolled into the behavior for `has_secure_pasword`.

That said, I was looking at some of the previews for ActiveRecord encryption, and I don't think the columns actually have `_digest` in the name. Do you want to add support for that new feature?

[2021-09-25 18:48] excid3 commented on #96
We just need to make sure it works with the built-in encryption. 👍

[2021-09-26 00:08] jacobdaddario commented on #96
If that's the case I think we're good to close this issue. There was a check for the built-in hashing in the current version of Rails last I looked at Madmin.

[2021-09-26 00:22] excid3 commented on #96
I figure we should add an example in the dummy app and a test case I figure. That way we can know it works.

[2021-10-03 16:17] jacobdaddario opened #104 "Build Error with Skypack"
Looks like something is breaking with Skypack when trying to build `stimulus-flatpickr`.
<img width="569" alt="Screen Shot 2021-10-03 at 11 14 57 AM" src="https://user-images.githubusercontent.com/20427632/135762488-7a5197ba-f600-4b95-80a5-36ec88181c0c.png">
I originally encountered this error when trying to pull down updates to my fork so I could rebase #89 on top of it. I pulled down a fresh clo

[2021-10-03 16:36] excid3 commented on #104
Stimulus-flatpickr isn't compatible with @hotwired/stimulus 3.0 yet. There's a beta release that can be used.

https://github.com/adrienpoly/stimulus-flatpickr/tree/stimulus-3

[2021-10-03 16:40] jacobdaddario commented on #104
I was just about to say that I think that Stimulus Flatpickr was pulling down the wrong version of Stimulus or had incompatibility issues. Let me try dropping in the beta release.

Edit: Yep, in [this commit](https://github.com/adrienpoly/stimulus-flatpickr/commit/fdc6fb4a13ca27facbfc3872e73a355b40598079) Adrien changes it to point to the new listing on NPM. I'll drop in his beta branch and I'll l

[2021-10-03 17:26] #104 closed, assigned to nobody

[2021-10-03 18:48] jacobdaddario opened #106 "Seeds quietly failing"
The seeds file has been quietly failing for a bit I think. I'm drawing up a commit to fix this right now. Going to cherry-pick it out of my current branch and open a PR here.

[2021-10-03 22:35] jacobdaddario opened #108 "Pagination Styling has Disappeared"
Noticed this while working on a feature PR. It looks like the styles themselves went missing. The pagination buttons still have the proper classes assigned to them. I'll keep an eye out and see if I can find where in the commit history that these went missing.

[2021-10-04 01:17] esmale commented on #96
I created a new app running on the current Rails 7 alpha, installed madmin, set up an encrypted attribute ("identifier"), and confirmed that madmin handles everything just fine.  The attribute is properly encrypted on the database, but the un-encrypted text renders to the browser just fine.

Adding tests for this, though, has me completely stumped.  ActiveRecord Encryption only exists for Rails 7,

[2021-10-04 06:08] jitingcn commented on #108
I think this is caused by pagy generates the pagination bar with a set of default classes, but it does not have any styles by default.
The purpose of this behavior is convenient for users to customize styles.

Pagy's documentation has mentioned how to add a set of default styles to style libraries such as [tailwind](https://ddnexus.github.io/pagy/extras/tailwind), but unfortunately, seem like we n

[2021-10-04 15:12] jitingcn opened #111 "NoMethodError in Madmin::ActiveStorage::Blobs#index"
[code]

[2021-10-04 18:22] excid3 commented on #108
I think it might be easiest if we render a custom pagy template instead:
https://ddnexus.github.io/pagy/how-to#using-templates&gsc.tab=0

We can take this, add our Tailwind styles to it, and be good to go:
https://github.com/ddnexus/pagy/blob/master/lib/templates/nav.html.erb

[2021-10-04 18:24] excid3 commented on #111
The real issue here is that `store :metadata` is not being ignored. https://github.com/rails/rails/blob/main/activestorage/app/models/active_storage/blob.rb#L42

We should make sure that Madmin resouce generator ignores `metadata` and generates attributes for each of the store accessors. I thought that was working.

That said, #112 does fix it if `attribute :metadata` was left in or added so that'

[2021-10-04 20:13] excid3 commented on #96
@esmale Great question.

We can conditionally include that I think.

[code]

Same can be applied to the test so it only runs on Rails 7 as well.

[2021-10-04 21:12] #106 closed, assigned to nobody

[2021-10-07 05:41] timmyd87 opened #114 "Madmin sortable helper conflicts with JSP sortable helper"
Hi Team, thought I'd have another go at installing Madmin and it's installed without a hitch on JSP this time (yay!!), only conflict I'm seeing is my main app views is now looking at the Madmin sortable helper and throwing a 'wrong number of arguments (given 4, expected 2..3)' error.

The JSP sortable helper includes a 'relation' attribute in addition to the 'column, title, options = {}'.

What do

[2021-10-09 14:37] jacobdaddario commented on #111
@jitingcn Was this an issue with the freshly generated app or with the Madmin dummy app? The `stored_attributes` method call works fine on `ActiveStorage::Blob`, and so store value should be ignored. Additionally, its accessors should be included as attributes when generating.

Maybe this is a case where the dummy app still had `attribute :metadata` left in its `ActiveStorage::Blob` directory? I'v

[2021-10-09 14:54] jacobdaddario commented on #114
From what I remember, Rails dumps all of the helpers into one namespace by default when loading them for views. This might be why you're getting this collision. [This forum thread](https://www.ruby-forum.com/t/avoid-shared-helpers-conflict-within-views/238961/3) recommends disabling loading all helpers by default. That would be a solution on the JSP side of things. Let me see if I can find somethi

[2021-10-09 16:41] jitingcn commented on #111
Yeah, my app haven't removed `attribute :metadata`, since stored_attributes support just add recently and I won't regenerate resource file all the time. But this is just an small issue :)

[2021-10-09 20:14] jacobdaddario commented on #114
Submitted a PR for this!

[2021-10-10 04:43] timmyd87 commented on #114
Thanks so much for taking a look at this and explaining the root cause! It's interesting to know rails loads all of the helpers into the one namespace by default, that's something I didn't know but is very helpful. Also, thank you for turning around a PR for this so quickly, very unexpected.

[2021-10-10 05:12] jacobdaddario commented on #114
I had some time this morning and was interested to see if I could pull it off. It's a bit of a hacky solution so hopefully it's acceptable to merge. You definitely may need to double-check me on the helpers being imported in every context. I'm pretty sure that they are though.

[2021-10-11 14:04] excid3 commented on #114
I don't remember why, but `isolate_namespace` was removed in https://github.com/excid3/madmin/commit/79977234dc46c42d61e510506d4e62de1a5ddbda#diff-80e180dc8e007fcf0b20fcde44ed2681b6d72390e6f8e07acc216be9afd3659bL3

I don't think there's any reason we can't reintroduce it. In general, the admin area is isolated anyways. We should see about adding that back in.

[2021-10-11 18:03] jacobdaddario commented on #114
When I tried dropping it back in it caused something in the test suite to fail. I figured it had to do with why it was removed in the first place. I can try experimenting more to see what happens

[2021-10-11 19:25] excid3 commented on #114
Let me know what the error is if you try it again. 👍

[2021-10-11 23:28] jacobdaddario commented on #114
Taking a closer look at it. Weirdly, it causes a test to check that the users resource route exists to fail.
![Screen Shot 2021-10-11 at 6 27 25 PM](https://user-images.githubusercontent.com/20427632/136866821-d600f1a3-4503-4b9e-9b85-f3f7956f1434.png)

[2021-10-12 03:29] excid3 commented on #114
I am not entirely sure why `url_for` doesn't work with `isolate_namespace`. Our code seems to match Administrate here and it works for that gem. Maybe someone more familiar with the router would know.

In the meantime, using the resource path helpers works with `isolate_namespace`: b3d2a0f

[2021-10-12 03:29] #114 closed, assigned to nobody

[2021-10-15 06:51] jitingcn opened #119 "edit user model with devise will cause error"
Edit user model with devise will cause an error on reset_password_token attribute when edit other attribute and leave reset_password_token empty.

[code]

Notice that reset_password_token should be null, but after update, it will be set to empty string.

[2021-10-15 16:55] excid3 commented on #119
You should probably set `form: false` on those fields. I don't think you want to edit those.

[2021-11-02 17:32] gathuku opened #122 "Relax Pagy dependencies"
@excid3  Pagy has released a lot last month https://rubygems.org/gems/pagy/versions, would you like to relax dependencies.
https://github.com/excid3/madmin/blob/5ef1dfd0c4fbed5abfb606c610533bb05b846537/madmin.gemspec#L22

[2021-11-02 17:43] excid3 commented on #122
It always depends on what the breaking changes are.

Looks like 5.0 introduced a few: https://github.com/ddnexus/pagy/blob/master/CHANGELOG.md#breaking-changes---1-code-update

If we update the Madmin code, we can change to support `>= 5.0` and `< 6.0`

[2021-11-14 05:29] #119 closed, assigned to nobody

[2021-12-05 00:22] EnricoGallus opened #127 "ActionText seems not to be supported"
Hi, i'm new to rails and just started to play around with the madmin gem a little bit.

It works great for most of my models. But selecting a model which uses the ActionText-Property, or the ActionText-Model itself throws an exception.
Is there something I can do to fix that? Please let me know if you need more information.
I'm using ruby 3.0.2.
Thank you in advance.

Here is the thrown error:

<i

[2021-12-09 11:03] jitingcn commented on #127
I think I have (at least partially) fix this issue in https://github.com/excid3/madmin/pull/112,
You can try to use the master branch of this gem.
in Gemfile:
[code]

[2021-12-10 15:53] #122 closed, assigned to nobody

[2021-12-22 21:11] EnricoGallus commented on #127
Confirmed, using the master branch fixes the issue. Thank you for your time

[2021-12-22 21:11] #127 closed, assigned to nobody

[2021-12-22 23:21] #108 closed, assigned to nobody

[2022-01-05 01:10] molenick-mov opened #131 "Is it possible to search attributes of a Resource's assocations?"
I want to search for resource records based on the values of an associated model's attributes.

Say I have a resource/model Order that has many Suborders.  When search for Orders, I'd like for it search against both the id attributes of Order and Suborder, and return any orders for that have a matching id for either Order or Suborder.  If I perform a search against Orders with a term of '11', I'd

[2022-01-21 17:32] jean-francois-labbe opened #133 "Madmin breaks application boot when a migration adds a field and a madmin attribute is added before running the migration."
When adding a new field to a model and declaring those fields as madmin resource attributes.
Pushing this new commit to production fails to boot.

It seems that madmin is trying to access the field, but the migration has not been executed.
The migration cannot be executed as the application wont boot.

[code]

[2022-02-08 00:14] brunoprietog opened #136 "Relationships are unnecessarily preloaded"
Hi,

For the belongs_to and has_many fields, from what I understand, all associations are loaded. This is not a problem if they are few records, but as they increase it already becomes inefficient. What would be a possible way to address this? It might help.

Thanks!

[2022-03-08 21:31] ryw opened #141 "forms + typography have stopped resolving"
These lines are not resolving for me to valid URLs from madmin's `application.html.erb` template.

[code]

In my main Rails app I get forms + typograhy by adding plugins to my `tailwind.config.js` file:

# tailwind.config.js
[code]

I don't know tailwind very well, so raising an issue here, maybe there is an easy fix?

[2022-05-26 19:39] ryw commented on #141
Any plans to release a fixed version?

[2022-07-19 18:49] molenick-mov opened #149 "Skypack CDN failing to return Stimulus packages"
I'm currently getting a 404 when madmin attempts to import Stimulus from the Skypack CDN.

The import URL madmin uses is: `https://cdn.skypack.dev/stimulus`

When I access that in the browser, I see
[code]

When I check the export urls (https://cdn.skypack.dev/-/stimulus@v3.1.0-i4YciFyhSrBaTZB4EvrT/dist=es2019,mode=raw/stimulus), I get an error:

[code]

[2022-07-19 19:05] molenick-mov commented on #149
Did the recent release of Stimulus 3.1.0 break these imports?  See https://github.com/hotwired/stimulus/releases/tag/v3.1.0

[2022-07-20 18:43] molenick-mov commented on #149
We fixed this in our project by overriding this template: https://github.com/excid3/madmin/blob/8f29bfd1e3d7dc1149c86c86e18dd6e8e684a87f/app/views/madmin/application/_javascript.html.erb#L6 and pinning Stimulus to v3.0.1:

`import { Application, Controller } from 'https://cdn.skypack.dev/stimulus@3.0.1'`

[2022-09-02 08:59] sebastiencarceles commented on #133
I have the same problem here (sort of): when a review app is started automatically by Scalingo for the first time, the database has not been initialized yet, because the app starts _before_ the init scripts is run for the first time.

Which results in this error:

[code]

Did you find a way to avoid madmin to access the ressources at application start up?

[2022-09-22 16:14] molenick-mov commented on #149
Looks like this is happening again, this time with Turbo.  Fixed by pinning to 7.1.0:

`import * as Turbo from "https://cdn.skypack.dev/@hotwired/turbo@7.1.0"`

[2022-10-01 20:54] excid3 commented on #141
This should be fixed now.

[2022-10-01 20:54] #141 closed, assigned to nobody

[2022-10-01 20:57] excid3 commented on #149
This has been fixed. 👍

[2022-10-01 20:57] #149 closed, assigned to nobody

[2022-10-01 21:23] excid3 commented on #96
Added an example encrypted field to the User model.

[2022-10-01 21:23] #96 closed, assigned to nobody

[2022-10-01 21:27] excid3 commented on #131
Search is just a simple SQL query builder currently. I'd love to be able to add an easy method for adding joins to allow querying against associated tables.

I'd also love the ability to swap the search out with other implementations like Meilisearch, ElasticSearch.

Currently, you can override `scoped_resources` in the resource controller to do this. Pagy does work differently for various search

[2022-10-15 13:18] yorickvandervis opened #156 "Selecting associated models"
I was wondering if it was possible to enable using associated models during creation. For example, I am trying to create a model which has some associations. It's an Activity model which belongs_to an ActivityCategory model. During creation on the /madmin panel I can't select any category. Same goes other way around. Is there a way to select these?

[2022-11-07 20:59] ryw commented on #141
This issue may have returned :( I'm seeing:

https://unpkg.com/@tailwindcss/forms/dist/forms.min.css
[Error] Failed to load resource: the server responded with a status of 404 () (forms.min.css, line 0)

https://unpkg.com/@tailwindcss/typography/dist/typography.min.css
[Error] Failed to load resource: the server responded with a status of 404 () (typography.min.css, line 0)

[2022-11-07 21:03] ryw commented on #141
Maybe a clue for a fix
https://github.com/tailwindlabs/tailwindcss-forms/issues/110#issuecomment-1147130799

[2022-11-07 21:06] ryw commented on #141
Well I see you've done that already via https://github.com/excid3/madmin/commit/1d9595e939bc82b53b019bc3d02a2876e84540df hmm

[2022-11-07 21:19] ryw commented on #141
I was still on "1.2.6" never mind :(